<div class="navbar navbar-inverse">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <%= link_to 'MFS', root_path, class: 'brand' %>
      <div class="nav-collapse">
        <ul class="nav">
          <li><%= link_to "Отзывы", root_path %></li>
          <% if can? :index, UsersController %>
              <li><%= link_to 'Пользователи', users_path %></li>
          <% end %>
        </ul>
      </div>

      <div class="pull-right" id="user-block">
        <% if current_user %>
            <%= image_tag current_user.image_url, alt: current_user.name, class: 'avatar' %>
            <div><%= current_user.name %> (<%= link_to 'выйти', sign_out_path %>)</div>
        <% else %>
            Войти через <%= link_to image_tag('twitter_logo.png', class: 'twitter'), '/auth/twitter' %>
        <% end %>
      </div>
    </div>
  </div>
</div>