<%= form_for @review do |f| %>
    <%= render partial: 'shared/errors', locals: {obj: @review} %>

    <%= f.label :title %>
    <%= f.text_field :title, required: true %>

    <%= f.label :body %>
    <%= f.text_area :body, rows: '6', required: true %>

    <div class="actions">
      <%= f.submit 'Отправить', class: 'btn btn-primary' %>
    </div>
<% end %>

<script>
  $(document).ready(function() {
      $('#new_review').validate();
  });
</script>
