<div id="review-body">
  <div class="row-fluid">
    <div class="span7">
      <h1><%= @review.title %></h1>
      <div class="well well-large"><%= @review.body %></div>
    </div>

    <div class="span5">
      <div id="review-timestamp">
        <%= long_formatted_date @review.created_at %>
      </div>

      <div id="review-user">
        <%= image_tag @review.user.image_url, alt: @review.user.name %>
        <p class="user-name"><%= link_to @review.user.name, user_path(@review.user) %></p>

        <div class="well well-small">
          <div>Полезен ли этот отзыв для вас?</div>
          <div>
            <span class="badge badge-success"><%= @review.votes_for_review('up') %></span>
            <span class="badge badge-important"><%= @review.votes_for_review('down') %></span>
          </div>

          <div>
            <% if current_user %>
                <% if current_user.voted_for?(@review) %>
                    <small>Вы уже голосовали!</small>
                <% else %>
                    <%= link_to '', add_vote_path(@review) + '?type=up', class: 'icon-thumbs-up' %>
                    <%= link_to '', add_vote_path(@review) + '?type=down', class: 'icon-thumbs-down' %>
                <% end %>
            <% else %>
                <small>Войдите через <%= link_to 'Twitter', '/auth/twitter' %>, чтобы голосовать.</small>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= link_to 'Назад', reviews_path, class: 'btn' %>
